.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5em;
}

.popular {
  margin-right: 1em;
}

.favourite {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  color: #ff0056;
}