.message {
  width: 60%;
  padding: 1rem;
  border-radius: 0.3rem;
  box-shadow: 0 0.2rem 1rem #a1a1a1;
}
.client {
  background-color: #1b4463;
  color: rgb(255, 255, 255);
  margin-left: 40%;
}
.lawyer {
  display: inline-block;
}
.imageCard {
  margin-bottom: 1rem;
  display: flex;
}

.date {
  text-align: center;
  font-size: small;
  margin-bottom: 0.3em;
}
