.button {
  color: white;
  background-color: #ff0056;
  border: none;
  margin-bottom: 0.5rem;
  padding: 0.8rem 1.5rem;
  border-radius: 0.3rem;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0.5rem 1rem rgba(92, 92, 92, 0.2);
}

.expanded {
  flex: 1;
  justify-content: center;
}

.back {
  /* background-color: "#0088FF";
  padding: 0.3rem 1rem; */
  color: white;
  background-color: #1d1f37;
  border: none;
  margin-bottom: 0.5rem;
  padding: 0.3rem 1rem;
  border-radius: 0.3rem;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: flex;
  justify-content: flex-end;
}

.hidden {
  display: none;
}
