/* .button {
  color: white;
  background-color: #ff0056;
  border: none;
  margin-bottom: 0.5rem;
  padding: 0.8rem 1.5rem;
  border-radius: 0.3rem;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expanded {
  flex: 1;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: flex-end;
} */
