.message_card {
  display: flex;
  align-items: center;
  padding: 0.8em 1em;
}

.message_card_info {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.name_and_body {
  width: 210px;
  margin-left: 0.2em;
}

.time_and_ping {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90px;
}

.messages_ping {
  color: white;
  font-size: 0.8rem;
  background-color: rgb(55, 152, 190);
  width: 19px;
  height: 19px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}